ComandAppServer/xml/comandappOFERTAS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="comandappOFERTAS.xsd"
    xmlns:co="comandappOFERTAS.xsd">
    
    <xs:element name="local" type="co:Tofertas"/>
    
    <xs:complexType name="Tofertas">
        <xs:sequence>
            <xs:element name="oferta" type="co:Toferta"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
        <xs:attribute name="version" type="xs:int"/>
    </xs:complexType>
    
    <xs:complexType name="Toferta">
        <xs:sequence>
            <xs:element name="idProducto" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>