ComandAppServer/xml/comandappMAIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="comandappMAIN.xsd"
    xmlns:cm="comandappMAIN.xsd">
    
    <xs:element name="main" type="cm:Tmain"/>

    <xs:complexType name="Tmain">
        <xs:sequence>
            <xs:element name="local" type="xs:int"/>
            <xs:element name="ofertas" type="xs:int"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"/>
    </xs:complexType>

</xs:schema>